
.row {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {

    .contact {
        display: flex;
        flex-direction: column;
    }

    .row {
        flex-direction: row;
        justify-content: space-between;
    }

    .input6 {
        display: flex;
        justify-content: stretch;
        flex-grow: 1;
    }

    .input7 {
        display: flex;
        justify-content: flex-start;
    }

}